*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main: #404EED;
    --darkPurple: #2731a0;
    --bg: #FCFCFC;
    --details: #F2F2F2;
    --darkDetails: #818181;
    --button: #C4C4C4;
    --black: #000;
    --white: #FFF;
    --login: #DCE2F0;
    --overlay: rgba(0, 0, 0, 0.7);
}
body{
    font-family: 'roboto', 'Courier New', Courier, monospace;
}
body::-webkit-scrollbar{
    width:5px;
}
body::-webkit-scrollbar-track {
    background: var(--darkPurple);        /* color of the tracking area */
  }
body::-webkit-scrollbar-thumb {
    background-color: var(--login);    /* color of the scroll thumb */
    border-radius: 3px;        /* roundness of the scroll thumb*/
    }


.bar{
    width: 90px;
    height: 2px;
    background-color: var(--main);
    margin: 3px 0 17px 0;
}


header{
    width: 100%;
    height: 89px;
    background-color: var(--main);
    position: relative;
}
.logo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.logo img{
    width: 340px;
    height: 56px;
    margin-left: 80px;
}




.container{
    width: 100%;
    display: flex;
}
.container main,
.container aside{
    flex: 1;
}
main{
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choice-type{
    margin: 40px 0 ;
}
p{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    /* margin-bottom: 17px; */
}
ul{
    width: 100%;
    display: flex;
    list-style: none;
}
ul li{
    margin-right: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul li:last-child{
    margin-right: 0;
}
.list-option{
    width: 100px;
    height: 100px;
    margin-bottom: 9px;
    border-radius: 50%;
    background-color: var(--details);
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-option img{
    border-radius: 50%;
}
.item-name{
    width: 113px;
    text-align: center;
}
.model-link{
    width: 100%;
    max-width: 396px;
    height: 40px;
    border-radius: 10px;
    padding-left: 15px;
    color: var(--darkDetails);
    background-color: var(--details);
    margin-bottom: 23px;
    outline: none;
    border: none;
}
button{
    width: 100%;
    max-width: 396px;
    height: 40px;
    border-radius: 10px;
    color: var(--white);
    font-size: 20px;
    font-weight: 400;
    background-color: var(--button);
    border: none;
}
.funcional:hover{
    background-color: var(--darkPurple);
}
.funcional:active{
    background-color: var(--main);
}
.funcional:focus{
    outline: none;
}
.funcional{
    background-color: var(--main);
    cursor: pointer;
}



aside{
    background-color: var(--main);
    display: flex;
    justify-content: center;
    align-items: center;
}
aside img{
    width: 100%;
    max-width: 607px;
    height: 100%;
    max-height: 700px;
}




footer{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--details);
}
.last-orders{
    width: 100vw;
    max-width: 1035px;
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    position: relative;
}
.last-orders--txt{
    margin-top: 30px;
}
.last-orders ion-icon{
    position: absolute;
    top: 50%;
    color: var(--main);
    font-size: 26px;
    cursor: pointer;
}
.left-scroll{
    left:-10px;
}
.right-scroll{
    right: -10px;
}
.last-orders--models{
    display: flex;
    overflow-x: scroll;
    position: relative;
}
/* .last-orders--models::-webkit-scrollbar{
    display: none;
} */
.last-orders-model{
    width: 201px;
    height: 235px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 16px;
    border-radius: 10px;
    background-color: var(--white);
    cursor: pointer;
}
.last-orders-model:last-child{
    margin-right: 0;
}
.last-orders-model img{
    width: 180px;
    height: 180px;
    margin-bottom: 9px;
    object-fit: cover;
}
.last-orders-model p{
    margin-bottom: 0;
}
.selected{
    -webkit-box-shadow: inset 0px 0px 0px 3px var(--main); 
    box-shadow: inset 0px 0px 0px 3px var(--main); 
}








.modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);

}
.modal-content{
    background: var(--login);
    width: 100%;
    max-width: 550px;
    height: 100%;
    max-height: 350px;
    border-radius: 16px;
    display: flex;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.37);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.37);
}
.symbols-area{
    flex: 1;
}
.circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -50px;
    background-color: var(--darkPurple);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.circle p{
    font-size: 32px;
    width: 130px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
    color: var(--login);
    margin-left: 20px;
    text-transform: uppercase;
}
.square{
    width: 150px;
    height: 30px;
    background-color: var(--darkPurple);
    position: absolute;
    bottom: 20px;
    left: 10px;
}
.login-area{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.login-txt{
    font-size: 32px;
    width: 150px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    letter-spacing: 2px;
    color: var(--darkPurple);
    text-transform: uppercase;
}
label{
    font-size: 9px;
    color: var(--darkPurple);
    display: flex;
    flex-direction: column;
}
.user-name{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--darkPurple);
    font-size: 24px;
    width: 250px;
    color: var(--darkPurple);
}
.user-name:focus{
    outline: none;
}
.login-btn{
    color: var(--login);
    background-color: var(--darkPurple);
    width: 250px;
    cursor: pointer;
}
.login-btn:hover{
    background-color: var(--main);
}
.login-btn:active{
    background-color: var(--darkPurple);
}
.loading{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: var(--main);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotate 2s linear infinite forwards;
}
@keyframes rotate{
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}
.loading img{
    width: 80%;
}





.cart-space{
    position: absolute;
    right: 15px;
    top: 22px;
    background-color: var(--white);
    padding: 5px;
    border-radius: 50%;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cart-space ion-icon{
    color: var(--main);
    font-size: 26px;

}

.cart-area{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 2;
    background-color: var(--overlay);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-items{
    width: 100%;
    max-width: 650px;
    background-color: var(--darkPurple);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}
.cart-header{
    width: 100%;
}
.cart-header p, .empty-cart{
    color: var(--white);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 8px;
    font-weight: 300;
    padding: 10px;
}
.client-items{
    width: 100%;
    max-height: 411px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.client-items::-webkit-scrollbar{
    width:5px;
}
.client-items::-webkit-scrollbar-track {
    background: var(--darkPurple);        /* color of the tracking area */
  }
.client-items::-webkit-scrollbar-thumb {
    background-color: var(--login);    /* color of the scroll thumb */
    border-radius: 3px;        /* roundness of the scroll thumb*/
    }
.client-product{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
    margin-top: 15px;
    border-top: 1px solid var(--details);
}
.product-img img{
    width: 90%;
    height: 90%;
    border-radius: 50%;
}
.product-img p{
    position: absolute;
    color: var(--white);
    bottom: -30px;
}
.product-details,
.product-img{
    width: 100px;
    height: 100px;
    margin-bottom: 9px;
    border-radius: 50%;
    background-color: var(--details);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.product-details img{
    border-radius: 50%;
}
.product-details p{
    color: var(--white);
    position: absolute;
    bottom: -30px;
}





.hidden{
    display: none;
}